#!/sbin/openrc-run

name="sing-box"
description="Sing-box Proxy Server"

command="/usr/local/bin/sing-box"
command_args="run -c /etc/sing-box/config.json"
command_background="true"
pidfile="/run/${RC_SVCNAME}.pid"

output_log="/var/log/sing-box.log"
error_log="/var/log/sing-box.err"

depend() {
	need net
	after firewall
}

start_pre() {
	checkpath --directory --mode 0755 /var/log
	checkpath --directory --mode 0755 /run
}
